
body {
  background-color: rgb(20, 20, 20);
}

#board {
  width: 440px;
  height: 440px;
  border: 21px solid rgb(199, 18, 18);
  background-color: rgb(44, 11, 176);
}

#score, #highScore {
  color: rgb(221, 15, 15);
  font-family: brush script MT;
  font-size: 50px;

}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-color: rgb(201, 22, 43);
  z-index: 1;
}